@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap');

:root {
    --body-bg: #121012;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Inter', sans-serif;
    color: #ccc;
}

*::selection {
    background-color: #ddde;
    color: #111;
}

body {
    background-color: var(--body-bg);
}

.loading-page {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000c;
}

.loading-page span {
    background-color: #eee;
    width: 5px;
    height: 50px;
    border-radius: 5px;
    animation: loadspin 1.5s infinite;
}

.loading-page span.vertical {
    width: 50px;
    height: 5px;
    position: absolute;
    animation-delay: 425ms;
}

@keyframes loadspin {
    0% {
        transform: rotate(0deg) scale(1);
    } 50% {
        transform: rotate(180deg) scale(2);
    } 100% {
        transform: rotate(360deg) scale(1);
    }
}

.title {
    margin: 20px;
    font-size: 20px;
    color: #555;
    font-weight: 900;
    font-family:'Courier New', Courier, monospace;
}

.comparing-form {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    overflow: hidden;
    height: 100svh;
}

.comparing-form .comparing-inps {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.comparing-form .comparing-inps input {
    font-size: 100px;
    font-weight: 900;
    background-color: #0000;
    border: 0;
    width: 100%;
    outline: none;
    text-align: right;
    margin: 0 10px;
}

.comparing-form .comparing-inps input.right {
    text-align: left;
}

.comparing-form .comparing-inps input:invalid::before {
    content: "Please fill this field.";
    display: block;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.comparing-form .comparing-inps span {
    font-weight: 600;
    position: relative;
    background-color: var(--body-bg);
    padding: 5px 0;
    z-index: 2;
}

.comparing-form span.line {
    background-color: #aaa;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: .5px;
    height: 250px;
    z-index: 0;
}

.comparing-form .submit-menu {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 50px);
    position: absolute;
    left: 50%;
    bottom: 75px;
    transform: translateX(-50%);
    align-items: center;
}

.comparing-form .submit-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    border: 1px solid #ccc;
    background-color: #0000;
    outline: none;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 200ms;
}

.comparing-form .submit-btn:hover {
    background-color: #ccc;
    color: #111;
    font-weight: 500;
}

.comparing-form .depth-menu {
    display: flex;
    align-items: center;
    cursor: default;
}

.comparing-form .depth-menu span {
    font-family: 'Varela Round', sans-serif;
    color: #888;
    font-weight: 600;
}

.comparing-form .depth-menu input {
    background-color: #0000;
    border: 0; outline: none;
    font-size: 25px;
    width: 1ch;
    margin-left: 5px;
    font-weight: 700;
    color: #999;
}

.comparing-form .depth-menu .inc-dec {
    display: flex;
    flex-direction: column;
    margin: 0 -3px 0 6px;
    justify-content: center;
}

.comparing-form .depth-menu .inc-dec button {
    background-color: #0000;
    border: 0; outline: none;
    font-size: 15px;
    margin: -3px 0;
    cursor: pointer;
}

.comparing-form .depth-menu .inc-dec button i {
    color: #999;
}

.comparing-form .depth-menu .inc-dec button:hover {
    opacity: .5;
}

.comparing-form .power-display {
    color: #999;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    font-size: 16px;
}


.ltx {
    width: 100%;
    height: 100svh;
    display: none;
    position: fixed;
    background-color: var(--body-bg);
    top: 0;
}

.ltx.active {
    display: block;
}

.ltx .close-btn {
    background-color: #0000;
    color: #eee;
    border: 0; outline: none;
    position: fixed;
    cursor: pointer;
    right: 0;
    top: 0;
    font-size: 50px;
}

.ltx .close-btn:hover {
    opacity: .5;
}

.comparing-result .box {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
}

.comparing-result h1 {
    text-align: center;
    font-style: italic;
    font-weight: 800;
    font-size: 50px;
}

.comparing-result .leaderboard {
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    width: 100svw;
}

.comparing-result .leaderboard h2 {
    text-align: right;
    margin-right: 10px;
    color: #888;
}

.comparing-result .leaderboard .slider-box {
    display: flex;
    align-items: center;
}

.comparing-result .leaderboard .slider {
    height: 5px;
    width: 100px;
    background-color: #ccc;
    margin: 12.5px 10px 12.5px 0;
}

.comparing-result .leaderboard .slider:last-child {
    margin-top: 25px;
}

.comparing-result .conclusion {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #888;
    width: 100%;
    text-align: center;
    animation: scale 300ms forwards;
    bottom: 70px;
}

.comparing-result .depth {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #777;
    width: 100%;
}

@keyframes scale {
    from {
        transform: translateX(-50%) scale(0);
    } to {
        transform: translateX(-50%) scale(1);
    }
}
