<!DOCTYPE html>
<html>
<head>
    <title>Phone Occurrences</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
</head>
<body>
    <h1 class="title">Which is more popular?</h1>

    <form method="POST" action="/scrape" class="comparing-form">
        <span class="line"></span>

        <div class="comparing-inps">
            <input type="text" name="st" placeholder="Keyword" class="untouched" 
                autocomplete="off" maxlength="25" required>
            <span>vs</span>
            <input type="text" name="nd" placeholder="Keyword" class="untouched right" 
                autocomplete="off" maxlength="25" required>
        </div>

        <div class="submit-menu">
            <div class="depth-menu">
                <span>Depth:</span>
                
                <div class="inc-dec">
                    <button type="button" class="inc"><i class="fas fa-chevron-up"></i></button>
                    <button type="button" class="dec"><i class="fas fa-chevron-down"></i></button>
                </div>
                <input type="text" disabled="disabled" value="6">
                <input type="hidden" name="depth" value="6">
                <span style="margin-left: 5px">- <span class="speed">optimal</span></span>
            </div>
            <button type="submit" class="submit-btn" onclick="fetchScraper()">Compare</button>
            <div class="power-display">Power: 64</div>
        </div>
    </form>

    <div class="ltx comparing-result {{ resultLtx }}">
        <div class="box">
            <button class="close-btn"><i class="fas fa-xmark"></i></button>

            <h1>Results</h1>
            <div class="leaderboard">
                <div class="item">
                    <h2 class="st">{{ key1 }}</h2>
                    <h2 class="nd">{{ key2 }}</h2>

                    <input type="hidden" class="st" value="{{ key1 }}">
                    <input type="hidden" class="nd" value="{{ key2 }}">
                </div>
                <div class="item">
                    <div class="slider-box">
                        <div class="slider first"></div>
                        <span class="pts st">{{ firstPts }}pts</span>
                    </div>
                    <div class="slider-box">
                        <div class="slider second"></div>
                        <span class="pts nd">{{ secondPts }}pts</span> 
                    </div>
                </div>
            </div>
            <p class="conclusion"></p>
            <p class="depth">Depth: {{ depth }}</p>
        </div>
        
    </div>

    <div class="loading-page">
        <span></span>
        <span class="vertical"></span>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>